.AppContainer {
  text-align: center;
}


.AppContainer > h1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Headercont {
color: crimson;
background-color: gray;
}

.Headercont > h1 {
	color: blue;
}